---
import Layout from '../layouts/Layout.astro'
import MainContent from '../components/MainContent.astro'
import ContentBox from '../components/ContentBox.astro'
---

<Layout title="Seite nicht gefunden">
  <MainContent gridRow="2">
    <ContentBox>
      <h1>NOT FOUND</h1>
      <p>You just hit a route that doesn't exist... the sadness.</p>
    </ContentBox>
  </MainContent>
</Layout>
