---
import Layout from '../layouts/Layout.astro'
import MainContent from '../components/MainContent.astro'
import ContentBox from '../components/ContentBox.astro'
---

<Layout title="Seite nicht gefunden">
  <MainContent gridRow="2">
    <ContentBox>
      <h1>Seite nicht gefunden</h1>
      <p>Die angeforderte Seite existiert nicht.</p>
    </ContentBox>
  </MainContent>
</Layout>
