---
import { getCollection } from 'astro:content'

const pages = await getCollection('pages')
const debugPages = pages.map(page => ({
  ...page.data,
}))
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Contentful Debug</title>
  </head>
  <body>
    <main>
      <h1>Contentful Debug</h1>
      <pre>{JSON.stringify(debugPages, null, 2)}</pre>
    </main>
  </body>
</html>
