---
import ContentBox from './ContentBox.astro'
---

<footer class="footer">
  <ContentBox extraVerticalPadding>
    <a class="footer-link" href="/imprint/">Impressum</a>
    <a class="footer-link" href="/data-policy/">Datenschutzhinweis</a>
  </ContentBox>
</footer>

<style>
  .footer {
    grid-column: 1 / 5;
    background-color: var(--color-darker-purple);
    color: var(--color-light-yellow);
    padding: 0 var(--outer-padding);
  }

  .footer-link {
    color: var(--color-light-yellow);
    margin-right: var(--base-line-height);
    text-decoration: underline;
  }

  @media (min-width: 800px) {
    .footer {
      display: flex;
      flex-direction: column;
      display: grid;
      grid-template-columns: var(--main-grid-columns);
      grid-row: 3;
      justify-items: stretch;
      padding: 0;
    }

    .footer > :global(*) {
      grid-column: main-column-start / side-column-end;
    }
  }
</style>
