---
import ContentBox from './ContentBox.astro'
import logoSrc from '../images/logo@2x.png'
---

<header class="header">
  <ContentBox extraVerticalPadding>
    <a href="/">
      <img
        class="logo"
        src={logoSrc.src}
        width={460}
        height={30}
        alt="Heinrich Rhode GmbH"
      />
    </a>
    <div class="company-type">Medizintechnik</div>
  </ContentBox>
</header>

<style>
  .header {
    grid-column: 1 / 5;
    color: var(--color-company-blue);
    padding: 0 var(--outer-padding);
  }

  .logo {
    max-width: 460px;
    width: 100%;
    height: auto;
  }

  .company-type {
    text-transform: uppercase;
    font-size: var(--font-size-xl-small);
    line-height: var(--line-height-xl-small);
  }

  @media (min-width: 800px) {
    .header {
      display: flex;
      flex-direction: column;
      display: grid;
      grid-template-columns: var(--main-grid-columns);
      justify-items: stretch;
      padding: 0;
    }

    .header > :global(*) {
      grid-column: main-column-start / side-column-end;
    }

    .company-type {
      font-size: var(--font-size-xl-large);
      line-height: var(--line-height-xl-large);
    }
  }
</style>
