---
import '../styles/global.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import MainContent from '../components/MainContent.astro'

const { title = 'Rhode Medizintechnik' } = Astro.props
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <div class="global-wrapper">
      <div class="side-background"></div>
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>

<style>
  .global-wrapper {
    max-width: var(--layout-max-width);
    margin: 0 auto;
    background-color: var(--color-light-yellow);
  }

  .side-background {
    display: none;
  }

  @media (min-width: 800px) {
    @supports (display: grid) {
      .global-wrapper {
        max-width: none;
        margin: 0;
        display: grid;
        grid-template-columns: var(--main-grid-columns);
        grid-template-rows: auto 1fr auto;
      }

      .side-background {
        display: block;
        background-color: var(--color-light-blue);
        grid-column: side-column-start / 5;
        grid-row: 1 / 4;
      }
    }
  }
</style>
